.navbar-nav {
  text-align: center; }

.navbar-light .navbar-nav .nav-link {
  color: #000000; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #000000; }

.navbar {
  padding-bottom: 0px; }

.navbar-brand {
  margin-left: 20px; }

.pie-pagina {
  width: 100%;
  background-color: #4c4c4c; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1250px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px; }
    .pie-pagina .grupo-1 .red-social a {
      margin: 10px;
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: black;
      margin-right: 10px;
      background-color: #aaadb1;
      text-align: center;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1 .red-social a:hover {
        color: #fff; }
    .pie-pagina .grupo-1 .box p {
      color: black;
      margin-bottom: 10px; }
    .pie-pagina .grupo-1 .box h2 {
      color: black;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo-1 .box figure .img {
        width: 250px; }
  .pie-pagina .grupo-2 {
    background-color: #aaadb1;
    padding: 15px 10px;
    text-align: center;
    color: black; }
    .pie-pagina .grupo-2 small {
      font-size: 15px; }

.fondonav {
  background: url(../assets/imagenes/fondonavv.jpg) center center no-repeat;
  background-size: cover;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
  height: 220px;
  width: 100%; }

.card {
  background-color: #4c4c4c;
  margin: 20px; }

.btn-primary {
  color: #aaadb1;
  background-color: #5b5d5f;
  border-color: #aaadb1; }

.cardsIn {
  display: flex;
  justify-content: center;
  padding: 20px; }

.section {
  padding: 20px;
  margin: 10px;
  text-align: justify; }

.containerImg {
  display: flex;
  margin: auto;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px; }

.containerImg .imagen {
  position: relative;
  height: 300px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px #000000bf; }

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #9390909c;
  width: 100%;
  height: 0;
  transition: 1s;
  overflow: hidden; }

.overlay h2 {
  color: black;
  font-weight: 200px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer; }

.imgA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 10px; }

.titleCont {
  padding: 1em;
  color: #fff; }

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

.contenedorFormInf {
  box-shadow: 0 0 20px 0 #ffffff4d;
  display: grid;
  margin-bottom: 30px; }

.contenedorFormInf > * {
  padding: 1em; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #797878; }

.buttonE, .buttonB {
  border-bottom: #000000;
  width: 100%;
  border: none;
  color: #797878;
  background: #797878;
  border: 0;
  text-transform: uppercase;
  width: 100%;
  color: #797878; }
  .buttonE:hover .buttonE:focus, .buttonB:hover .buttonE:focus, .buttonE:hover .buttonB:focus, .buttonB:hover .buttonB:focus {
    background: #000000;
    color: #1e1d1d;
    transition: background-color 1s ease-out;
    outline: 0; }

.buttonB {
  border: 2px solid #1e1d1d;
  background: #797878;
  width: 50%;
  height: 50%;
  font-size: small;
  padding-top: 1em; }

.bg--fondoG {
  background-color: #8b8b8b; }

.bg--fondoN {
  background-color: #302e2e; }

p {
  text-align: justify; }

h1 {
  text-align: center; }

.imagen img {
  width: 100%;
  height: 100%; }

body {
  background-color: #302e2e;
  color: #000000; }

.container-fluid {
  margin: 0;
  padding: 12px; }

.col-2 {
  flex: 0 0 auto;
  width: 45%; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .imgTes {
    padding-left: 120px;
    padding-top: 45px; }
  .aboutM {
    padding: 10px;
    border: 2px solid; }
  .contenedorFormInf {
    box-shadow: 0 0 20px 0 #ffffff4d;
    display: grid;
    margin-bottom: 100px; }
  .pie-pagina {
    width: 100%;
    background-color: #4c4c4c; }
    .pie-pagina .grupo-1 {
      width: auto;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      text-align: center;
      padding: 20px 20px;
      gap: 0px; } }
