.titleCont{
    padding: 1em;
    color: #fff;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contenedorFormInf {
    box-shadow: 0 0 20px 0 #ffffff4d;
    display: grid;
    margin-bottom: 30px;
}

.contenedorFormInf >*{
    padding: 1em;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}



