.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #797878;
}

.buttonE {
        border-bottom: #000000;
        width: 100%;
        border: none;
        color:#797878;
        background: #797878;
        border: 0;
        text-transform: uppercase;
        width: 100%;
        color: #797878;
        &:hover &:focus {
            background: #000000;
            color: #1e1d1d;
            transition: background-color 1s ease-out;
            outline: 0;
        }
}

.buttonB {
    @extend .buttonE;
    border: 2px solid #1e1d1d;
    background: #797878;
    width: 50%;
    height: 50%;
    font-size: small;
    padding-top: 1em;

}
