// VARIABLES
$bg-color: #302e2e;
$color-gen: #000000;
$bg-color-card: #4c4c4c;
$bg-card: #5b5d5f;
$color-card: #aaadb1;

// GENERAL
body { 
    background-color: $bg-color;
    color: $color-gen;
}

.container-fluid {
    margin: 0;
    padding: 12px;
}

.col-2 {
    flex: 0 0 auto;
    width: 45%;
}

// VISTAS

@media only screen and (min-width: 0px) and (max-width:768px) {

    .aboutM {
        padding: 10px;
        border: 2px solid;
    }
    
    .contenedorFormInf {
        box-shadow: 0 0 20px 0 #ffffff4d;
        display: grid;
        margin-bottom: 30px;
    }
    
    .pie-pagina {
        width: 100%;
        background-color: white;
    
        .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding: 35px 0px;

        }
    }

    }