// VARIABLES
$bg-color: #302e2e;
$color-gen: #000000;
$bg-color-card: #4c4c4c;
$bg-card: #5b5d5f;
$color-card: #aaadb1;

// GENERAL
$estilosG :(
    ancho: 100%,
    alto: 100%,
    txtJustificado: justify,
    txtCentro: center,
);

p {
    text-align: map-get($estilosG, txtJustificado);
}

h1 {
    text-align: map-get($estilosG, txtCentro);
}

.imagen img {
    width: map-get($estilosG, ancho);
    height: map-get($estilosG, alto);
}

.titulos {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}

.container-fluid {
    margin: 0;
    padding: 12px;
}

.col-2 {
    flex: 0 0 auto;
    width: 30%;
}

// VISTAS

@media only screen and (min-width: 0px) and (max-width:800px) {

    .col-2 {
        width: 100%;
    }

    .imgTes {
        padding: 50px;
    }

    .aboutM {
        padding: 10px;
        border: 2px solid;
    }
    
    .contenedorFormInf {
        box-shadow: 0 0 20px 0 #ffffff4d;
        display: grid;
        margin-bottom: 100px;
    }
    
    .pie-pagina {
        width: 100%;
        background-color: #4c4c4c;
    
        .grupo-1 {
            width: auto;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            text-align: center;
            padding: 20px 20px;
            gap: 0px;

        }
    }


    }
