$bg-color: #302e2e;
$color-gen: #000000;
$bg-color-card: #4c4c4c;
$bg-card: #5b5d5f;
$color-card: #aaadb1;


// FONDO
.fondonav { 
    background: url(../assets/imagenes/fondonavv.jpg) center center no-repeat;
    background-size: cover;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    height:220px;
    width: 100%;
}

// CARDS
.card {
    background-color: $bg-color-card;
    margin: 20px;
    border-radius: 2.25rem;
}

.btn {
    border-radius: 2.25rem;
}

.btn-primary {
    color: $color-card;
    background-color: $bg-card;
    border-color: $color-card;
}

.cardsIn {
    display: flex;
    justify-content: center;
    padding: 20px;
}
