$coloresFondo:(
    fondoG: #8b8b8b,
    fondoN: #302e2e,
);

@each $fondos, $color in $coloresFondo{
    .bg--#{$fondos} 
    {background-color: $color;}
}

$estilosG :(
    ancho: 100%,
    alto: 100%,
    txtJustificado: justify,
    txtCentro: center,
);

p {
    text-align: map-get($estilosG, txtJustificado);
}

h1 {
    text-align: map-get($estilosG, txtCentro);
}

.imagen img {
    width: map-get($estilosG, ancho);
    height: map-get($estilosG, alto);
}