<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Cambio de imagen y/o expresar tus ideas para un nuevo tatuaje">
    <meta name="keywords" content= "Servicios, Tatto, Barber, Barberia, Tatuajes, Cortes, Minimalismo, Tendencia">
    <title>WarsBarberandTatto-Servicios</title>
    <link rel="shortcut icon" href="../assets/imagenes/FAVICON.jpg" type="image/jpg">
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- MI CSS -->
    <link rel="stylesheet" href="../css/estilo.css">
     <!-- ICONOS -->
     <script src="https://kit.fontawesome.com/73b0f3a61b.js" crossorigin="anonymous"></script>
</head>
    <body>
      <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-12">
                <header>
                <!-- menu -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                        <a class="navbar-brand" href="../index.html"><img src="../assets/imagenes/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="../index.html">HOME</a>
                            <a class="nav-link" href="">SERVICIOS</a>
                            <a class="nav-link" href="../views/galeria.html">GALERIA</a>
                            <a class="nav-link" href="../views/acerca.html">ABOUT ME</a>
                            <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
                            </div>
                        </div>
                        </div>
                    </nav>
                </header>
            </div>
          </div>

          <!-- comienzo de contenido -->
          <!-- barberia -->
          <div class="row">
            <div class="col-12 col-lg-6">
              <section class="section">
                <div class="titulos">Barberia</div>
                  <p data-aos="zoom-in">En el area de barberia, te ofrezco todo tipo de cambio de imagen desde un degrado bajo, medio o alto hasta donde llegue tu imaginacion, tambien ofrecemos el servicio de corte de barba, y adicional a estos colocamos una mascarilla para retirar las impurezas que puedes tener en la cara.
                    <br> 
                    Los costos varian dependiendo del cliente, pero tenemos una base de 30$.
                  </p>
              </section>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="../assets/imagenes/ser1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Degrade bajo</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../assets/imagenes/ser2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Degrade alto</h5>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        <!-- tatuaje -->
        <div class="row">
          <div class="col-12 col-lg-6">
            <section class="section">
              <div class="titulos">Tatuajes</div>
                <p data-aos="zoom-in"> En el area de tatuajes, te ofrezco describir cualquier idea que tengas para plasmar en tu piel con estilos como minimalistas, realismo, puntillismo, black&red. Todo va de lo que me puedas expresar que te gusta y vamos viendo para coordinar un diseño que pueda llevar todo lo que te guste, y asi poder empezar a tauar.
                  <br>
                  Actualmente tengo una promocion de minimalistas en 2x50$. 
                  <br>
                  Estos deben ser como mucho 5x5cm, y para que tengas una idea pueden ser nombre, fechas, simbolos, entre otros.
                </p>
            </section>
          </div>
          <div class="col-12 col-lg-6">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../assets/imagenes/serII.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Minimalista</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../assets/imagenes/serIII.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Puntillismo</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- comienzo del footer -->
        <footer class="pie-pagina">
          <div class="grupo-1">
              <div class="box">
                  <figure>
                      <a href="../index.html">
                          <img src="../assets/imagenes/logo.png" alt="">
                      </a>
                  </figure>
              </div>
              <div class="box">
                  <h2>About Me</h2>
                  <p>Soy Edgar War's y estare encantado de atenderte sea para potenciar tu estilo o para plasmar tus ideas en la piel.</p>
              </div>
              <div class="box">
                  <h2>Redes</h2>
                  <div class="red-social">
                      <a href="https://www.facebook.com/people/WarsBarber-Tatto/100083250565104/" target="_blank" class="fa-brands fa-facebook"></a>
                      <a href="https://instagram.com/warsbarbers?igshid=YmMyMTA2M2Y=" target="_blank" class="fa-brands fa-instagram"></a>
                      <a href="https://instagram.com/warstattos?igshid=YmMyMTA2M2Y=" target="_blank" class="fa-brands fa-instagram"></a>
                      <a href="https://wa.me/+18542191566" target="_blank" class="fa-brands fa-whatsapp"></a>
                  </div>
              </div>
          </div>
          <div class="grupo-2">
              <small> &copy;2022 <b> Wars Barber&Tattto</b> -Todos los Derechos Reservados.</small>
          </div>
      </footer>
      </div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>